<div class="flex-nowrap bs-gray-800 sticky-top">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 min-vh-100 nav-height-fix-1">
    <nav class="nav nav-pills flex-column w-100">
      <a class="nav-link text-light mt-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
         routerLink="/">Home</a>
      <a class="nav-link text-light mt-2" >Stores</a>
      <a class="nav-link text-light mt-2" >Reports</a>
      <a class="nav-link text-light mt-2" routerLinkActive="active" routerLink="/counter">Counter</a>
    </nav>
  </div>
</div>



